The Fast & The Curious - Project Report <br>
<br>
TODO: Add Sections<br>
TODO: Organize code & markdown<br>
TODO: Set explicit Tasks<Br>

In [16]:
import requests

In [17]:
url = "https://meteostat.p.rapidapi.com/stations/daily"

In [18]:
querystring = {"station":"KPWK0","start":"2012-01-01","end":"2021-01-01","model":"true","units":"imperial"}

In [19]:
headers = {
	"X-RapidAPI-Key": "6fec950325msha54f5bc890b65e0p1fd8d0jsnc882976e1304",
	"X-RapidAPI-Host": "meteostat.p.rapidapi.com"
}

In [20]:
response = requests.request("GET", url, headers=headers, params=querystring)

In [21]:
json = response.json()

In [22]:
import pandas as pd

In [23]:
type(json['data'])

list

In [24]:
type(json['data'][0])

dict

In [25]:
df = pd.DataFrame(json['data'])

In [26]:
df

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2012-01-01,36.7,30.9,45.0,NaN,None,268.0,17.2,None,NaN,None
1,2012-01-02,23.2,18.0,30.0,NaN,None,315.0,17.2,None,NaN,None
2,2012-01-03,21.2,12.9,28.0,0.000,None,NaN,9.3,None,1027.0,None
3,2012-01-04,33.3,26.1,41.0,0.000,None,NaN,7.9,None,1016.3,None
4,2012-01-05,38.5,25.0,50.0,0.000,None,NaN,6.7,None,1012.5,None
...,...,...,...,...,...,...,...,...,...,...,...
3284,2020-12-28,30.0,21.9,35.1,0.000,None,296.0,10.4,None,1024.9,None
3285,2020-12-29,25.7,18.0,32.0,NaN,None,145.0,6.3,None,NaN,None
3286,2020-12-30,32.0,27.0,36.0,0.291,None,246.0,13.3,None,1014.2,None
3287,2020-12-31,24.8,19.0,28.0,NaN,None,288.0,4.0,None,NaN,None
3288,2021-01-01,30.0,19.0,36.0,NaN,None,28.0,7.8,None,NaN,None

In [27]:
# we will be keeping date, tavg, tmin, tmax, prcp, and pres columns
df = df.drop("snow", axis='columns')
df = df.drop("wdir", axis='columns')
df = df.drop("wspd", axis='columns')
df = df.drop("tsun", axis='columns')
df = df.drop("wpgt", axis='columns')

In [28]:
df[df['prcp'].isna()]

            date  tavg  tmin  tmax  prcp    pres
0     2012-01-01  36.7  30.9  45.0   NaN     NaN
1     2012-01-02  23.2  18.0  30.0   NaN     NaN
11    2012-01-12  30.4  21.0  35.1   NaN     NaN
12    2012-01-13  21.0  18.0  23.0   NaN  1011.1
13    2012-01-14  18.0  15.1  21.9   NaN  1021.4
...          ...   ...   ...   ...   ...     ...
3280  2020-12-24  16.0  10.0  26.1   NaN     NaN
3283  2020-12-27  34.9  19.9  46.0   NaN  1008.6
3285  2020-12-29  25.7  18.0  32.0   NaN     NaN
3287  2020-12-31  24.8  19.0  28.0   NaN     NaN
3288  2021-01-01  30.0  19.0  36.0   NaN     NaN

[1435 rows x 6 columns]

In [29]:
# drop rows with Nan in rows
df = df.dropna(subset=['prcp','pres'])
#print post dropped rows 
df

            date  tavg  tmin  tmax   prcp    pres
2     2012-01-03  21.2  12.9  28.0  0.000  1027.0
3     2012-01-04  33.3  26.1  41.0  0.000  1016.3
4     2012-01-05  38.5  25.0  50.0  0.000  1012.5
5     2012-01-06  47.5  42.1  55.9  0.000  1006.5
6     2012-01-07  37.8  27.0  45.0  0.000  1017.3
...          ...   ...   ...   ...    ...     ...
3276  2020-12-20  36.7  32.0  42.1  0.000  1011.9
3278  2020-12-22  38.1  33.1  41.0  0.000  1019.2
3281  2020-12-25  16.2   9.0  21.9  0.000  1014.5
3284  2020-12-28  30.0  21.9  35.1  0.000  1024.9
3286  2020-12-30  32.0  27.0  36.0  0.291  1014.2

[1583 rows x 6 columns]